:root {
  --bg-dark-mode: #aeaeae;
  --bg-light-mode: #ffffff;
  --color-dark-mode: rgb(224, 224, 224);
  --color-light-mode: black;
}
.dark-mode-bg {
  background-color: var(--input-dark-mode);
}
.dark-mode-color {
  color: var(--color-dark-mode);
}
.dark {
  background-color: var(--input-dark-mode);
  color: var(--color-dark-mode);
}
.dark-btn {
  background-color: var(--bg-light-mode);
  color: var(--color-light-mode);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: var(--color-light-mode);
}
.body-dark-mode {
  background-color: #222222;
  color: var(--color-dark-mode);
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

input[type="text"] {
  width: 60%;
  padding: 8px;
  padding-left: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#main {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

.inp {
  padding-left: 30%;
}

#user-org,
#repo {
  border-radius: 15px;
}

button {
  margin: 50px;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #222222;
  color: #aeaeae;
}
button:active {
  background: #bbbbbb;
}
