body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  

  h1 {
    font-size: 24px;
    color: #333;
  }
  
  h3 {
    font-size: 18px;
    color: #666;
  }
  
  input[type="text"] {
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
body {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #222222;
    color: #ffffff;
}

#main {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  
  #start {
    color: #333;
  }
  
  .inp {
    padding-left: 30%;
  }

  #user-org , 
  #repo
  {
  border-radius: 15px;
}
